@import url("https://unpkg.com/ress@5.0.2/dist/ress.min.css");
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.home {
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
  margin-top: 60px;
}

.about {
  text-align: center;;
}

.about, .news {
  margin: 40px auto;
  max-width: 720px;
  padding: 0 20px;
}

.about h1 {
  font-size: 1.7rem;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333;
}

.about p {
  font-size: 1rem;
  line-height: 1.7;
  color: #444;
}

.news {
  background-color: #fffdf5;
  border: 2px solid #f5c400;
  border-radius: 12px;
  padding: 20px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin: 40px auto;
  max-width: 720px;
}

.news h2 {
  font-size: 1.5rem;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
}

.news ul {
  list-style: none;
  padding: 0;
  font-size: 0.95rem;
  color: #555;
  text-align: left;
}

.news li {
  margin-bottom: 12px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.news li svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: #f5a623;
  display: block;
  margin-top: 1px;
}

.news li span {
  line-height: 1.2;
  display: inline-block;
}

.slideshow {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 600px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease;
}

.slideshow img.active {
  opacity: 1;
}

/* スマホ用 */
@media (max-width: 600px) {
  .slideshow {
    width: 100%;
    height: 400px;
    margin-top: 80px;
  }

  .news {
    padding: 16px;
    margin: 30px 16px;
    border-radius: 10px;
  }

  .news h2 {
    font-size: 1.3rem;
    margin-bottom: 12px;
  }

  .news li {
    font-size: 0.9rem;
    padding: 6px 10px;
    margin-bottom: 10px;
  }
}